.btn-group {
  margin: 5px;
  letter-spacing:1.5px;
}

.glyphicon-star {
  font-size: 16px;
  color: orange;
}

.review-graph {
  position: relative;
}

.review-piegraph {
  position: absolute;
  left: 270px;
  top:-35px;
}

.numberCircle {
  border-radius: 50%;
  padding: 4px;
  border: 2px solid #ccc;
  text-align: center;
  font-size: 0.7em;
}

.numberCircle-danger{
  color: red;
}

.numberCircle-warning{
  color: orange;
}

.numberCircle-success{
  color: green;
}

.in-works-marker {
  position: fixed;
  top: 10px;
  width: 100px;
  left: 50%;
  padding-left: -50px;
  z-index: 999;
  text-align: center;
}

.in-works-marker > span {
  margin: 10px;
}
